@import 'normalize.css';



:root {
    --height-header: 70px;
    --height-control: 0px;
    --width-sidebar: 240px;
    --width-listmusic: 330px;

    --white-color: #fff;

    --bg-dim: rgba(255, 255, 255, 0.05);
    --bg-hover: rgba(255, 255, 255, 0.1);

    --padlef-sidebar: 34px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #7b47a5;
    border-radius: 10px;
    // display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    display: block;
}