.wrapper{
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: 140% auto;
    color: var(--white-color);
}


.container{
    margin-left: var(--width-sidebar);
}