.wrapper{
    flex: 1;
    overflow-y: auto;
    padding-bottom: 10px;
}

.wrapper.active{
    overflow: hidden scroll;
    -webkit-mask-image: linear-gradient(180deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8) 10%,#fff 25%,#fff);
}



